@{
    ViewBag.Title = "Résultats...";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

@{
    var db = Database.Open("DefaultConnection");
    var sqlFinished = "SELECT * FROM UsrMatch where Usr_Name = '" + HttpContext.Current.User.Identity.Name + "' and Finished = 1 ORDER BY Number";
    var sqlCurrent = "SELECT * FROM UsrMatch where Usr_Name = '" + HttpContext.Current.User.Identity.Name + "' and Finished = 0 ORDER BY Number";
 }

<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PostUsrMatch.cs" Inherits="PostUsrMatch" %>

<html>
    <head runat="server">
        <title>Liste des matches</title>

    <style>
        ValidButton
        {
            color: red;
            margin: 5px;
            cursor: pointer;
        }
        ValidButton:hover
        {
            background: yellow;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    </head>
    <body>
        
        <form id="Results" runat="server">
        <div>
        <table id="MatchsResults" class="round" style="width: 100%"    >
            <thead>
                <tr>
                    <th style="display:none;">Idt</th>
                    <th style="display:none;">Usr_Idt</th>
                    <th style="display:none;">Usr_Name</th>
                    <th style="text-align:center">N°</th>
                    <th>Groupe</th>
                    <th style="text-align:center">Date</th>
                    <th>Phase</th>
                    <th>Stade</th>
                    <th>Ville</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using Euro2016.Helpers;
                @foreach (var row in db.Query(sqlFinished))
                {
                <tr class="match">
                    <td style="display:none;">@row.Matchs_Idt</td>
                    <td style="display:none;">@row.Usr_Idt</td>
                    <td style="display:none;">@row.Usr_Name</td>
                    <td class="Number">@row.Number</td>
                    <td class="Groups">@row.Groups_Cod</td>
                    <td class="Date">@row.ScheduleDate</td>
                    <td class="Phase">@row.Phase_Lbl</td>   
                    <td class="Stade">@row.Stadium_Name</td>
                    <td class="Ville">@row.Town_Name</td>
                    <td class="TeamHome">@row.Team_Home_Label</td>
                    <td class="ImageHome"><img src="@row.ImageHome" /></td>
                    <td class="ScoreHome">@row.HomeScore</td>
                    <td class="ScoreAway">@row.AwayScore</td>
                    <td class="ImageAway"><img src="@row.ImageAway"/></td>
                    <td class="TeamAway">@row.Team_Away_Label</td>
                </tr>
                }
                @foreach (var row in db.Query(sqlCurrent))
                {
                <tr class="match">
                    <td style="display:none;">@row.Matchs_Idt</td>
                    <td style="display:none;">@row.Usr_Idt</td>
                    <td style="display:none;">@row.Usr_Name</td>
                    <td class="Number">@row.Number</td>
                    <td class="Groups">@row.Groups_Cod</td>
                    <td class="Date">@row.ScheduleDate</td>
                    <td class="Phase">@row.Phase_Lbl</td>   
                    <td class="Stade">@row.Stadium_Name</td>
                    <td class="Ville">@row.Town_Name</td>
                    <td class="TeamHome">@row.Team_Home_Label</td>
                    <td class="ImageHome"><img src="@row.ImageHome" /></td>
                    <!-- <td class="ScoreHomeBet"><input type="text" style="width:40px" maxlength="2" size="2" id="HomeScore"@row.Matchs_Idt value="@row.HomeScore"/></td>
                    <td class="ScoreAwayBet"><input type="text" style="width:40px" maxlength="2" size="2" id="AwayScore"@row.Matchs_Idt value="@row.AwayScore"/></td> -->
                    <td class="ScoreHomeBet"><div contenteditable="true" style="background-color:lightgrey" id="HomeScore">@row.HomeScore</div></td>
                    <td class="ScoreAwayBet"><div contenteditable="true" style="background-color:lightgrey" id="AwayScore">@row.AwayScore</div></td>
                    <td class="ImageAway"><img src="@row.ImageAway"/></td>
                    <td class="TeamAway">@row.Team_Away_Label</td>
                    <td class="ValidButton"><ValidButton>Set</ValidButton></td>
                </tr>
                }
            </tbody>
        </table>
        </div>
        </form>
 </body>

 <script>
     $("ValidButton").click(function () {
         var $row = $(this).closest("tr"),       // Finds the closest row <tr> 
             $tds = $row.find("td");             // Finds all children <td> elements
         $i = 0;
         var HomeScore = "";
         var AwayScore = "";
         var MatchsIdt = "";
         var UsrIdt = "";
         var UsrName = "";
         $.each($tds, function () {               // Visits every single <td> element
             console.log($i + " " + $(this).text());
             switch ($i) {
                 case 0:
                     MatchsIdt = $(this).text();
                     break;
                 case 1:
                     UsrIdt = $(this).text();
                     break;
                 case 2:
                     UsrName = $(this).text();
                     break;
                 case 11:
                     HomeScore = $(this).text();
                     break;
                 case 12:
                     AwayScore = $(this).text();
                     break;
             }
             $i++;
         });
         //var HomeScore = $('select[id="HomeScore"]').val();
         console.log("Match Idt  => " + MatchsIdt);
         console.log("User Name  => " + UsrName + "("+ UsrIdt + ")");
         console.log("Score Home => " + HomeScore);
         console.log("Score Away => " + AwayScore);

         $.ajax({
             type: 'POST',
             contentType: "application/json; charset=utf-8",
             url: '_PostUsrMatch.aspx/Insert_Data',
             data: "{'pMatchsIdt':'" + MatchsIdt + "','pUsrName':'" + UsrName + "','pScoreHome':'" + HomeScore + "','pScoreAway':'" + AwayScore + "'}",
             async: false,
             success: function (response) {
                 //$('#txtName').val(''); $('#txtAge').val(''); $('#txtSex').val('');
                 alert("Record saved successfully..!!");
             },

             error: function (response) {
                 alert("Error" + response.error());
             }
         });

         $(this).text("Upd");
     });

     $('td[contenteditable=true]').blur(function () {
         $(this).parent('tr').find('button').removeAttr('disabled');

     });

     $('td').on({
         'dblclick': function () {
             $(this).prop('contenteditable', true);
         },
         'blur': function () {
             $(this).prop('contenteditable', false);
         }
     });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnsubmit').click(function () {
            var name = $('#txtName').val();
            var age = $('#txtAge').val();
            var sex = $('#txtSex').val();

            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: 'Default.aspx/Insert_Data',
                data: "{'name':'" + name + "','age':'" + age + "','sex':'" + sex + "'}",
                async: false,
                success: function (response) {
                    $('#txtName').val(''); $('#txtAge').val(''); $('#txtSex').val('');
                    alert("Record saved successfully..!!");
                },

                error: function () {
                    alert("Error");
                }
            });
        });
    });
</script>

</html>
