@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

    <br />
    Grid and PopupForm used for CRUD operations, more details here: <a href="@Url.Action("Index", "GridCrudDemo")">Grid Crud Demo</a>
    <br />
    <br />
    @*begin2*@
    @Html.InitCrudPopupsForGrid("DinnersGrid","DinnersGridCrud") 

    <div class="bar">
        <div style="float: right;">
            @Html.Awe().TextBox("txtSearch").Placeholder("search...").CssClass("searchtxt") 
        </div>
        <button type="button" onclick="awe.open('createDinnersGrid')" class="awe-btn mbtn">Create</button>
    </div>

    @(Html.Awe().Grid("DinnersGrid")
           .Url(Url.Action("GridGetItems", "DinnersGridCrud"))
           .Mod(o => o.ColumnsSelector().ColumnsAutohide())
           .Parent("txtSearch","search")
           .Height(350)
           .Columns(
               new Column{Bind = "Id", Width = 55},
               new Column{Bind = "Name"}.Mod(o => o.NoAutohide()),
               new Column{Bind = "Date"},
               new Column{Bind = "Chef.FirstName,Chef.LastName", ClientFormat = ".ChefName", Header = "Chef"},
               new Column{ClientFormat = ".Meals", Header = "Meals"},
               new Column{ClientFormat = GridUtils.EditFormatForGrid("DinnersGrid"), Width = 50}.Mod(o => o.Nohide()),
               new Column{ClientFormat = GridUtils.DeleteFormatForGrid("DinnersGrid"), Width = 50}.Mod(o => o.Nohide())))
    @*end2*@

    <div class="code tabs">
        <div data-caption="view">
            @Html.Source("Home/Index.cshtml", 2) 
        </div>
        <div data-caption="controller">
            @Html.Csource("Demos/Grid/DinnersGridCrudController.cs") 
        </div>
    </div>
    <br />