@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

    <br />
    Grid and PopupForm used for CRUD operations, more details here: <a href="@Url.Action("Index", "GridCrudDemo")">Grid Crud Demo</a>
    <br />
    <br />
    @*begin2*@
    @Html.InitCrudPopupsForGrid("MatchResultsGrid","DinnersGridCrud") 

    <div class="bar">
        <div style="float: right;">
            @Html.Awe().TextBox("txtSearch").Placeholder("search...").CssClass("searchtxt") 
        </div>
        <button type="button" onclick="awe.open('createDinnersGrid')" class="awe-btn mbtn">Create</button>
    </div>

    @(Html.Awe().Grid("D")
           .Url(Url.Action("GridGetItems", "DinnersGridCrud"))
           .Mod(o => o.ColumnsSelector().ColumnsAutohide())
           .Parent("txtSearch","search")
           .Height(350)
           .Columns(
               new Column{Bind = "Idt", Width = 55},
               new Column{Bind = "Number"}.Mod(o => o.NoAutohide()),
               new Column{Bind = "ScheduleDate"},
    @*end2*@

    <br />