@{
    ViewBag.Title = "Résultats...";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

@{
    var db = Database.Open("DefaultConnection");
    var selectQueryString = "SELECT * FROM MatchsList ORDER BY Number";
 }
<html>
 <head>
   <title>Liste des matches</title>
 </head>
 <body>
   <table class="round" style="width: 100%">
       <thead>
           <tr>
             <th style="display:none;">Idt</th>
             <th style="text-align:center">N°</th>
             <th>Groupe</th>
             <th style="text-align:center">Date</th>
             <th>Phase</th>
             <th>Stade</th>
             <th>Ville</th>
             <th></th>
             <th></th>
             <th></th>
             <th></th>
             <th></th>
             <th></th>
           </tr>
       </thead>
       <tbody>
           @using Euro2016.Helpers;
           @foreach(var row in db.Query(selectQueryString)){
            <tr class="match">
                <td style="display:none;">@row.Idt</td>
                <td class="Number">@row.Number</td>
                <td class="Groups">@row.Groups_Cod</td>
                <td class="Date">@row.ScheduleDate</td>
                <td class="Phase">@row.Phase_Lbl</td>   
                <td class="Stade">@row.Stadium_Name</td>
                <td class="Ville">@row.Town_Name</td>
                <td class="TeamHome">@row.Team_Home_Label</td>
                <td class="ImageHome"><img src="@row.ImageHome" /></td>
                <td class="ScoreHome">@row.Score_Home</td>
                <td class="ScoreAway">@row.Score_Away</td>
                <td class="ImageAway"><img src="@row.ImageAway"/></td>
                <td class="TeamAway">@row.Team_Away_Label</td>
            </tr>
           }
       </tbody>
   </table>
 </body>
</html>

<!-- 2016-06-10 21:00:00	Stade de France	France	3	Roumanie	0 
<table class="round" style="width: 100%">
<tr class="match"><td class="Date">2016-06-10 21:00:00</td><td class="Lieu">Stade de France</td><td class="TeamHome">France</td><td class="ScoreHome">3</td><td class="ScoreAway">0</td><td class="TeamAway">Roumanie</td></tr>
<tr class="match"><td class="Date">2016-06-11 15:00:00</td><td class="Lieu">Stade Bollaert-Delelis</td><td class="TeamHome">Albanie</td><td class="ScoreHome">4</td><td class="ScoreAway">0</td><td class="TeamAway">Suisse</td></tr>
<tr class="match"><td class="Date">2016-06-11 18:00:00</td><td class="Lieu">Stade de Bordeaux</td><td class="TeamHome">Pays de Galles</td><td class="ScoreHome">1</td><td class="ScoreAway">4</td><td class="TeamAway">Slovaquie</td></tr>
<tr class="match"><td class="Date">2016-06-11 21:00:00</td><td class="Lieu">Stade Vélodrome</td><td class="TeamHome">Angleterre</td><td class="ScoreHome">2</td><td class="ScoreAway">2</td><td class="TeamAway">Russie</td></tr>
<tr class="match"><td class="Date">2016-06-12 15:00:00</td><td class="Lieu">Parc des Princes</td><td class="TeamHome">Turquie</td><td class="ScoreHome">1</td><td class="ScoreAway">0</td><td class="TeamAway">Croatie</td></tr>
<tr class="match"><td class="Date">2016-06-12 18:00:00</td><td class="Lieu">Stade de Nice</td><td class="TeamHome">Pologne</td><td class="ScoreHome">0</td><td class="ScoreAway">4</td><td class="TeamAway">Irlande du Nord</td></tr>
<tr class="match"><td class="Date">2016-06-12 21:00:00</td><td class="Lieu">Stade Pierre Mauroy</td><td class="TeamHome">Allemagne</td><td class="ScoreHome">3</td><td class="ScoreAway">4</td><td class="TeamAway">Ukraine</td></tr>
<tr class="match"><td class="Date">2016-06-13 15:00:00</td><td class="Lieu">Stadium de Toulouse</td><td class="TeamHome">Espagne</td><td class="ScoreHome">4</td><td class="ScoreAway">1</td><td class="TeamAway">République Tchèque</td></tr>
<tr class="match"><td class="Date">2016-06-13 18:00:00</td><td class="Lieu">Stade de France</td><td class="TeamHome">Irlande</td><td class="ScoreHome">4</td><td class="ScoreAway">3</td><td class="TeamAway">Suède</td></tr>
<tr class="match"><td class="Date">2016-06-13 21:00:00</td><td class="Lieu">Stade de Lyon</td><td class="TeamHome">Belgique</td><td class="ScoreHome">4</td><td class="ScoreAway">4</td><td class="TeamAway">Italie</td></tr>
<tr class="match"><td class="Date">2016-06-14 18:00:00</td><td class="Lieu">Stade de Bordeaux</td><td class="TeamHome">Autriche</td><td class="ScoreHome">4</td><td class="ScoreAway">4</td><td class="TeamAway">Hongrie</td></tr>
<tr class="match"><td class="Date">2016-06-14 21:00:00</td><td class="Lieu">Stade Geoffroy Guichard</td><td class="TeamHome">Portugal</td><td class="ScoreHome">0</td><td class="ScoreAway">3</td><td class="TeamAway">Islande</td></tr>
<tr class="match"><td class="Date">2016-06-15 15:00:00</td><td class="Lieu">Stade Pierre Mauroy</td><td class="TeamHome">Russie</td><td class="ScoreHome">1</td><td class="ScoreAway">4</td><td class="TeamAway">Slovaquie</td></tr>
<tr class="match"><td class="Date">2016-06-15 18:00:00</td><td class="Lieu">Parc des Princes</td><td class="TeamHome">Roumanie</td><td class="ScoreHome">2</td><td class="ScoreAway">2</td><td class="TeamAway">Suisse</td></tr>
<tr class="match"><td class="Date">2016-06-15 21:00:00</td><td class="Lieu">Stade Vélodrome</td><td class="TeamHome">France</td><td class="ScoreHome">2</td><td class="ScoreAway">0</td><td class="TeamAway">Albanie</td></tr>
<tr class="match"><td class="Date">2016-06-16 15:00:00</td><td class="Lieu">Stade Bollaert-Delelis</td><td class="TeamHome">Angleterre</td><td class="ScoreHome">2</td><td class="ScoreAway">0</td><td class="TeamAway">Pays de Galles</td></tr>
<tr class="match"><td class="Date">2016-06-16 18:00:00</td><td class="Lieu">Stade de Lyon</td><td class="TeamHome">Ukraine</td><td class="ScoreHome">4</td><td class="ScoreAway">2</td><td class="TeamAway">Irlande du Nord</td></tr>
<tr class="match"><td class="Date">2016-06-16 21:00:00</td><td class="Lieu">Stade de France</td><td class="TeamHome">Allemagne</td><td class="ScoreHome">2</td><td class="ScoreAway">0</td><td class="TeamAway">Pologne</td></tr>
<tr class="match"><td class="Date">2016-06-17 15:00:00</td><td class="Lieu">Stadium de Toulouse</td><td class="TeamHome">Italie</td><td class="ScoreHome">3</td><td class="ScoreAway">3</td><td class="TeamAway">Suède</td></tr>
<tr class="match"><td class="Date">2016-06-17 18:00:00</td><td class="Lieu">Stade Geoffroy Guichard</td><td class="TeamHome">République Tchèque</td><td class="ScoreHome">2</td><td class="ScoreAway">3</td><td class="TeamAway">Croatie</td></tr>
<tr class="match"><td class="Date">2016-06-17 21:00:00</td><td class="Lieu">Stade de Nice</td><td class="TeamHome">Espagne</td><td class="ScoreHome">3</td><td class="ScoreAway">3</td><td class="TeamAway">Turquie</td></tr>
<tr class="match"><td class="Date">2016-06-18 15:00:00</td><td class="Lieu">Stade de Bordeaux</td><td class="TeamHome">Belgique</td><td class="ScoreHome">1</td><td class="ScoreAway">0</td><td class="TeamAway">Irlande</td></tr>
<tr class="match"><td class="Date">2016-06-18 18:00:00</td><td class="Lieu">Stade Vélodrome</td><td class="TeamHome">Islande</td><td class="ScoreHome">2</td><td class="ScoreAway">3</td><td class="TeamAway">Hongrie</td></tr>
<tr class="match"><td class="Date">2016-06-18 21:00:00</td><td class="Lieu">Parc des Princes</td><td class="TeamHome">Portugal</td><td class="ScoreHome">0</td><td class="ScoreAway">2</td><td class="TeamAway">Autriche</td></tr>
<tr class="match"><td class="Date">2016-06-19 21:00:00</td><td class="Lieu">Stade Pierre Mauroy</td><td class="TeamHome">Roumanie</td><td class="ScoreHome">4</td><td class="ScoreAway">0</td><td class="TeamAway">Albanie</td></tr>
<tr class="match"><td class="Date">2016-06-19 21:00:00</td><td class="Lieu">Stade de Lyon</td><td class="TeamHome">Suisse</td><td class="ScoreHome">1</td><td class="ScoreAway">3</td><td class="TeamAway">France</td></tr>
<tr class="match"><td class="Date">2016-06-20 21:00:00</td><td class="Lieu">Stadium de Toulouse</td><td class="TeamHome">Russie</td><td class="ScoreHome">1</td><td class="ScoreAway">4</td><td class="TeamAway">Pays de Galles</td></tr>
<tr class="match"><td class="Date">2016-06-20 21:00:00</td><td class="Lieu">Stade Geoffroy Guichard</td><td class="TeamHome">Slovaquie</td><td class="ScoreHome">4</td><td class="ScoreAway">1</td><td class="TeamAway">Angleterre</td></tr>
<tr class="match"><td class="Date">2016-06-21 18:00:00</td><td class="Lieu">Stade Vélodrome</td><td class="TeamHome">Ukraine</td><td class="ScoreHome">1</td><td class="ScoreAway">1</td><td class="TeamAway">Pologne</td></tr>
<tr class="match"><td class="Date">2016-06-21 18:00:00</td><td class="Lieu">Parc des Princes</td><td class="TeamHome">Irlande du Nord</td><td class="ScoreHome">1</td><td class="ScoreAway">4</td><td class="TeamAway">Allemagne</td></tr>
<tr class="match"><td class="Date">2016-06-21 21:00:00</td><td class="Lieu">Stade de Bordeaux</td><td class="TeamHome">Croatie</td><td class="ScoreHome">3</td><td class="ScoreAway">3</td><td class="TeamAway">Espagne</td></tr>
<tr class="match"><td class="Date">2016-06-21 21:00:00</td><td class="Lieu">Stade Bollaert-Delelis</td><td class="TeamHome">République Tchèque</td><td class="ScoreHome">1</td><td class="ScoreAway">4</td><td class="TeamAway">Turquie</td></tr>
<tr class="match"><td class="Date">2016-06-22 18:00:00</td><td class="Lieu">Stade de France</td><td class="TeamHome">Hongrie</td><td class="ScoreHome">2</td><td class="ScoreAway">4</td><td class="TeamAway">Portugal</td></tr>
<tr class="match"><td class="Date">2016-06-22 18:00:00</td><td class="Lieu">Stade de Lyon</td><td class="TeamHome">Islande</td><td class="ScoreHome">2</td><td class="ScoreAway">2</td><td class="TeamAway">Autriche</td></tr>
<tr class="match"><td class="Date">2016-06-22 21:00:00</td><td class="Lieu">Stade de Nice</td><td class="TeamHome">Italie</td><td class="ScoreHome">2</td><td class="ScoreAway">4</td><td class="TeamAway">Irlande</td></tr>
<tr class="match"><td class="Date">2016-06-22 21:00:00</td><td class="Lieu">Stade Pierre Mauroy</td><td class="TeamHome">Suède</td><td class="ScoreHome">4</td><td class="ScoreAway">1</td><td class="TeamAway">Belgique</td></tr>
<tr class="match"><td class="Date">2016-06-25 15:00:00</td><td class="Lieu">Stade Geoffroy Guichard</td><td class="TeamHome">Group=A;Rank=2</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Group=C;Rank=2</td></tr>
<tr class="match"><td class="Date">2016-06-25 18:00:00</td><td class="Lieu">Parc des Princes</td><td class="TeamHome">Group=C;Rank=1</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Group=A/C/D;Rank=3</td></tr>
<tr class="match"><td class="Date">2016-06-25 21:00:00</td><td class="Lieu">Stade Bollaert-Delelis</td><td class="TeamHome">Group=D;Rank=1</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Group=B/E/F;Rank=3</td></tr>
<tr class="match"><td class="Date">2016-06-26 15:00:00</td><td class="Lieu">Stade de Lyon</td><td class="TeamHome">Group=A;Rank=1</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Group=C/D/E;Rank=3</td></tr>
<tr class="match"><td class="Date">2016-06-26 18:00:00</td><td class="Lieu">Stade Pierre Mauroy</td><td class="TeamHome">Group=C;Rank=1</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Group=A/B/F;Rank=3</td></tr>
<tr class="match"><td class="Date">2016-06-26 21:00:00</td><td class="Lieu">Stadium de Toulouse</td><td class="TeamHome">Group=F;Rank=1</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Group=E;Rank=2</td></tr>
<tr class="match"><td class="Date">2016-06-27 18:00:00</td><td class="Lieu">Stade de France</td><td class="TeamHome">Group=E;Rank=1</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Group=D;Rank=2</td></tr>
<tr class="match"><td class="Date">2016-06-27 21:00:00</td><td class="Lieu">Stade de Nice</td><td class="TeamHome">Group=B;Rank=2</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Group=F;Rank=2</td></tr>
<tr class="match"><td class="Date">2016-06-30 21:00:00</td><td class="Lieu">Stade Vélodrome</td><td class="TeamHome">Winner=37</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Winner=39</td></tr>
<tr class="match"><td class="Date">2016-07-01 21:00:00</td><td class="Lieu">Stade Pierre Mauroy</td><td class="TeamHome">Winner=38</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Winner=42</td></tr>
<tr class="match"><td class="Date">2016-07-02 21:00:00</td><td class="Lieu">Stade de Bordeaux</td><td class="TeamHome">Winner=41</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Winner=43</td></tr>
<tr class="match"><td class="Date">2016-07-03 21:00:00</td><td class="Lieu">Stade de France</td><td class="TeamHome">Winner=40</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Winner=44</td></tr>
<tr class="match"><td class="Date">2016-07-06 21:00:00</td><td class="Lieu">Stade de Lyon</td><td class="TeamHome">Winner=45</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Winner=46</td></tr>
<tr class="match"><td class="Date">2016-07-07 21:00:00</td><td class="Lieu">Stade Vélodrome</td><td class="TeamHome">Winner=47</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Winner=48</td></tr>
<tr class="match"><td class="Date">2016-07-10 21:00:00</td><td class="Lieu">Stade de France</td><td class="TeamHome">Winner=49</td><td class="ScoreHome">-</td><td class="ScoreAway">-</td><td class="TeamAway">Winner=50</td></tr></table>
    -->
<!--
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
-->